body,
html {
    width: 100%;
    height: 100%;
}

.useragent {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    padding: 20px;
    display: none;
}

.background_body {
    width: 100%;
    height: 100%;
    background: #ee9ca7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffdde1, #ee9ca7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffdde1, #ee9ca7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content_body {
    background-color: rgba(255, 255, 255, 0.99);
    width: 90%;
    height: 95%;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_2 .row {
    width: 90%;
    margin: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content_2 .btn {
    background-color: #ee9ca7;
    border-color: #ee9ca7;
    color: white;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: white;
    background-color: #ee9ca7;
    border-color: #ee9ca7;
    box-shadow: 0 0 0 0.2rem rgba(255, 221, 225, .5);
}

.img_canvas {
    display: none;
}

.content_1 {
    padding: 10px;
    height: 30%;
}

.content_1 .img_camera {
    height: 100%;
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content_2 {
    height: 10%;
}

.content_3 {
    height: 15%;
}

.content_4 {
    height: 30%;
}

.content_5 {
    height: 15%;
    font-size: 10px;
    text-align: center;
    color: darkgray;
}

.data_result {
    font-size: 20px;
    text-align: center;
    color: gray;
    height: 30%;
    width: 100%;
    padding: 10px;
}

.data_pie {
    width: 100%;
    height: 140%;
    padding: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_5 footer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}