@import "./node_modules/bootstrap/scss/bootstrap.scss";

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@include media-breakpoint-up(md) {

    .menu {
        height: 320px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .content {
            height: 200px !important;
            font-size: 14px;
            flex-direction: column;
        }

        #introduce,
        #skills,
        #works,
        #contacts {
            &:hover {
                background-color: #343a40 !important;
                transition: background-color 0.5s;
                cursor: pointer;

                i,
                span {
                    color: #17a2b8 !important;
                }
            }

            justify-content: flex-end !important;
            border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
        }

        .contact-logo {

            a {
                &:hover {
                    color: #17a2b8;
                    background-color: #343a40;
                    transition: background-color 0.5s;
                }

                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                color: inherit;
                text-decoration: none;
            }
        }
    }

    .introduce,
    .skills,
    .works,
    .contacts {
        .content {
            height: 480px;
        }

        .subtitle {
            height: 140px;
        }
    }
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    align-items: center;

    background-image: url('./img/bg.jpg');
    background-position: center;
}

.main {
    max-width: 860px;
}

.header {
    height: 300px;

    .head {
        position: relative;
        cursor: pointer;
        height: 140px;
        width: 140px;
        border-radius: 100px;
        border: 6px solid #f8f9fa;

        background: {
            image: url("./img/head.jpg");
            size: cover;
            position: center;
        }

        .cv {
            position: absolute;
            top: -10px;
            left: -80px;

            .cv-text {
                font-size: 14px;
                position: absolute;
                left: 14px;
                top: 10px;
            }
        }
    }
}

.menu {
    height: 66px;
}

.contact {
    height: 38px;
    width: 100%;

    a {
        color: #f8f9fa;
    }
}

.subtitle {
    height: 110px;
}

.introduce {

    .content {
        background: {
            image: url("./img/man.png");
            size: 100px;
            repeat: no-repeat;
            position-y: 96%;
            position-x: 90%;
        }

        .small_title {
            width: 70px;
        }
    }
}

.works {
    .content {
        overflow: auto;

        .work {
            height: 130px;
        }

        hr {
            border-color: #f8f9fa;
            margin: 8px auto;
        }
    }
}

.contacts {
    .advice {
        textarea {
            height: 100px;
        }

        input,
        textarea {
            border: none;
            box-shadow: 1px 1px 5px gray;
        }
    }
}