* {
    box-sizing: border-box;
}

.map {
    margin: 50px auto 10px auto;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin-right: 100px;

    div {
        text-align: center;

        button {
            width: 50px;
            height: 50px;
            margin: 5px;
            background-color: whitesmoke;
            border: solid 1px gainsboro;
        }
    }
}

.under-pannel {
    margin: auto;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    button {
        padding: 8px 15px;
        background-color: white;
        border: .5px solid gainsboro;
        &:hover {
            background-color: grey;
            color: whitesmoke;
        }
    }
     .checkedDifficult {
        background-color: grey;
        color: whitesmoke;
    }

    .title {
        font-size: 32px;
        border-radius: 10px;
        padding: 5px 20px;
        background-color: grey;
        color: whitesmoke;
        margin-top: 5px;
    }
}